.content-editor-wrapper {
  width: 500px;
  display: table-cell;
}

.content-editor {
  background: #eee;
  padding: 5px;
  font-size: 20px;
  font-style: italic;
  font-family: Georgia;
}

.snippets-wrapper {
  width: 34%;
  float: right;
}

.snippet-item {
  background: #eee;
  margin: 10px 0;
  padding: 5px;
  cursor: pointer;
  .content-editor-textarea {
    width: 450px;
    height: 400px;
    font-size: 19px;
    outline: none;
  }

  .content-editor-display {
    display: none;
  }

  .highlight .content-editor-textarea {
    display: none;
  }

  .highlight .content-editor-display {
    display: inline-block;
  }

  .text-error {
    color: @text-error-color;
  }

  .snippet_item {
    cursor: pointer;
  }
}