.content-editor-wrapper {
  width: 64%;
  float:left;
}

.content-editor {
  background: #eee;
  padding: 5px;
  font-size: 20px;
  font-style: italic;
  font-family: Georgia;
}

.snippets-wrapper {
  width: 34%;
  float: right;
}

.snippet-item {
  background: #eee; margin: 10px 0; padding: 5px; cursor: pointer;
}

.text-error {
  color:red;
}

.snippet_item {
  cursor: pointer;
}