doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        title= name
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
        link(href='app.css', rel='stylesheet')

    body.page-intro(data-1000="background-color:rgb(210,50,98)" data-0="background-color:rgb(0,197,209)")

        //div.bg.bg1(data-0="background-position:0px 0px;" data-end="background-position:-500px 1000px;")
        //div.bg.bg2(data-0="background-position:0px 0px;" data-end="background-position:-500px 800px;")
        //div.bg.bg3(data-0="background-position:0px 0px;" data-end="background-position:-500px 600px;")

        div.slide.slide1(data-600="top:160px" data-700="top:330px")
            div.view
                div.h1(data-100="font-size:60px;color:rgb(255,255,255);" data-600="font-size:50px;color:rgb(255,255,255);" data-699="font-size:20px;color:rgb(50,50,50);display:block;" data-700="font-size:20px;color:rgb(50,50,50);display:none;") Hey yo, whats up man?
                div.p(data-100="font-size:40px;color:rgb(255,255,255);" data-600="font-size:35px;color:rgb(255,255,255);" data-699="font-size:20px;color:rgb(50,50,50);display:block;" data-700="display:none;") Ya'll be here every day man!
                div.down(data-0="opacity:0.5", data-350="opacity:0;")
                    i.fa.fa-arrow-circle-down

        div.slide.slide2(data-0="top:100%;opacity:0", data-300="top:50%;opacity:1", data-1300="top:0;", data-1600="top:0;")
            div.slide-wrapper
                div.view
                    h1 Check your spelling
                div.switcher
                    div.view
                        ul.switcher-menu
                            li.switcher-item
                                span.switcher-link.active <strong>My </strong>questions
                            li.switcher-item
                                span.switcher-link <strong>My </strong>suggestions
                div.view
                    div.workspace
                        div.workspace-container
                            div.column
                                textarea.editor-area(data-699="color:rgb(255,255,255)" data-700="color:rgb(50,50,50);") Hey yo, whats up man?&#x000DYa'll be here every day man!
                            div.column.column-fixed
                                ul.listing.listing-suggestions
                                    li.listing-item(data-1200="left:100%;opacity:0;", data-1400="left:20px;opacity:1;")
                                        div.listing-text Hi friend, how are you?<br>Hope you will use this tool often!
                                        div.listing-menu
                                            span by John
                                div.busy
                                   // div.spinner.pulse
                            div.column

        div.slide.slide3(data-1000="top:100%;", data-1400="top:30%;", data-1800="top:0%;")
            div.slide-wrapper
                div.view
                    h1 What is this?
                    div.column <strong>spellcheckr.io</strong> is a peer-to-peer proofreading service. Show your writings to native speakers and language specialists and find out whether you sound like a natural!
                    div.column Unlike other services, all communications happens in real-time. This allows you to get feedback within seconds (well, if you are lucky). The service is really simple and fun to use. You don't even have to register!
                    div.column Whether you're a language learner, work with a foreign customer or just want to improve your writing &mdash; spellcheckr.io got your back.

        div.slide.slide4(data-1600="top:100%;", data-1800="top:40%;")
            div.slide-wrapper
                div.view
                    div.btn-container
                        a.btn(href="/app.html") Do magic

        script(src="intro.js")
