body {
  font-family: 'Pontano Sans', sans-serif;
  width: 90%;
  margin: 20px auto;
}

.app-wrapper {
  display: flex;
}

.questions-view,
.answers-view {
  margin: 0 20px;
}

.text-edit-view {
  flex-grow: 2;
}

.questions-view {

}
.answers-view {

}